<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>The Radha Travel</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/rtlogo.png' %}" type="image/gif" sizes="20x20">
    
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    
    <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


    <script src="https://kit.fontawesome.com/060f122a39.js" crossorigin="anonymous"></script>
    </head>

<body>



      


{% block body %}

{% endblock body %}










    <!-- main-footer end -->   

    <script data-cfasync="false" src="{% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/chain_fade.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    
    <script src="{% static 'js/main.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>