{% extends "base.html" %}



{% load static %}

{% block body %}





<section>
    <div class="container mt-120">
        <form action=""  method="post">
            {% csrf_token %}
            <div class="contact-form-wrap">
                <h4>Booking Now</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="custom-input-group">

                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-input-group">
                            <label for="contact_no">Contact No:</label>
                            <input type="text" name="contact_no" id="contact_no">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-input-group">

                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-input-group">

                            <label for="car">Car:</label>
                            <select name="car" id="car">
                                {% for car in cars %}
                                <option value="{{ car.id }}">{{ car.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="custom-input-group">

                            <label for="pickup_date">Pickup Date:</label>
                            <input type="date" name="pickup_date" id="pickup_date">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="custom-input-group">

                            <label for="return_date">Return Date:</label>
                            <input type="date" name="return_date" id="return_date">
                        </div>
                    </div>
                </div>

                <div class="custom-input-group">
                    <div class="submite-btn">
                        <button type="submit">Send Message</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>



{% endblock body %}