{% extends "base.html" %}



{% load static %}

{% block body %}


<!-- <div class="hero-area hero-style-one overflow-hidden">
    <div class="container-fluid p-0">
        <div class="swiper hero-slider-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-single-slide">
                        <div class="hero-highlighted-bg">
                            <img src="{% static 'img/bn2.jpg' %}" alt>
                            
                        </div>
                        <div class="hero-content-bg">
                            <div class="hero-content position-relative">
                                <h2 class="hero-title" style="font-size: 40px;">JOURNEYS, <span> EXPLORATIONS,</span> AND ADVENTURES </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="slider-arrows text-center d-lg-flex d-none">
        <div class="hero-prev" tabindex="0" role="button" aria-label="Previous slide"> <i class="bi bi-arrow-left"></i>
            Prev </div>
        <div class="hero-next" tabindex="0" role="button" aria-label="Next slide">Next <i class="bi bi-arrow-right"></i>
        </div>
    </div>
    
</div> -->




<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/bn2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>JOURNEYS, <span> EXPLORATIONS,</span> AND ADVENTURES </h5>
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/bn4.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>JOURNEYS, <span> EXPLORATIONS,</span> AND ADVENTURES </h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/bn5.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>JOURNEYS, <span> EXPLORATIONS,</span> AND ADVENTURES </h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




















<!-- about -->

<div class="about-main-wrappper pt-100 d-none d-sm-block  d-sm-none d-md-block  d-md-none d-lg-block">
    <div class="container about_one">
        <div class="about-tab-wrapper">
            <div class="row" style="display: flex;">

                <div class="col-lg-6" style="float: left;">
                    <div class="section-head-alpha">
                        
                        <h3>Because Travel’s In Our Bones</h3>
                        <p>Radha Travels Is A Travel Agency In New Delhi. Our Travel Agent Believe In Making You Acquainted With World Class Travelling Experience Embedded With Adventure And Carried Forward With Our Unparalleled Ethos. When You Buy Things, You Create A Pile Whose Value Gets Demeaned With Each Passing Day, When You See Places, You Gain Memories That Outlast Your Life.</p>
                    </div>
                    

                </div>
                <div class="col-lg-6" style="float: right;">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/ab1.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>
                
                

            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->



<!-- about -->

<div class="about-main-wrappper pt-100 d-none d-sm-block  d-sm-none d-md-block  d-md-none d-lg-block">
    <div class="container about_two">
        <div class="about-tab-wrapper">
            <div class="row">
               
                
                <div class="col-lg-6">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/aboutrj.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-head-alpha">
                        <h3>Who We Are</h3>
                        <p>
                            We understand that travel is not just about visiting new places; it is about creating lifelong memories and gaining enriching experiences that transcend time. Unlike material possessions that lose their value over time, the memories you create through travel remain cherished and etched in your heart forever.
                        </p>

                    </div>
                    

                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->


<!-- about -->

<div class="about-main-wrappper pt-100 d-none d-sm-block  d-sm-none d-md-block  d-md-none d-lg-block">
    <div class="container about_three">
        <div class="about-tab-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-head-alpha">
                        
                        
                        <h2>Why Choose Us  </h2>
                        <!-- <h3>Because Travel’s In Our Bones</h3> -->
                        <p>Expertise and Experience: Our travel agency boasts a team of experienced travel agents who possess in-depth knowledge and expertise in the travel industry. We have years of experience in curating and organizing travel experiences, ensuring that every detail of your trip is meticulously planned and executed.</p>
                    </div>
                    

                </div>
                <div class="col-lg-6">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/ab2.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>

                
                
            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->




<!-- des phone-------------- -->


<!-- about -->

<div class="about-main-wrappper mt-5 d-md-none d-lg-block  d-lg-none   d-xl-block  d-xl-none">
    <div class="container about_one">
        <div class="about-tab-wrapper">
            <div class="row" style="display: flex;">

                
                <div class="col-lg-6" style="float: right;">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/ab1.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>
                
                <div class="col-lg-6" style="float: left;">
                    <div class="section-head-alpha">
                        
                        <h3 class="mt-1">Because Travel’s In Our Bones</h3>
                        <p>Radha Travels Is A Travel Agency In New Delhi. Our Travel Agent Believe In Making You Acquainted With World Class Travelling Experience Embedded With Adventure And Carried Forward With Our Unparalleled Ethos. When You Buy Things, You Create A Pile Whose Value Gets Demeaned With Each Passing Day, When You See Places, You Gain Memories That Outlast Your Life.</p>
                    </div>
                    

                </div>
                
            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->



<!-- about -->

<div class="about-main-wrappper  d-md-none d-lg-block  d-lg-none   d-xl-block  d-xl-none">
    <div class="container about_two">
        <div class="about-tab-wrapper">
            <div class="row">
               
                
                <div class="col-lg-6">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/aboutrj.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-head-alpha">
                        <h3 class="mt-1 " >Who We Are</h3>
                        <p>
                            We understand that travel is not just about visiting new places; it is about creating lifelong memories and gaining enriching experiences that transcend time. Unlike material possessions that lose their value over time, the memories you create through travel remain cherished and etched in your heart forever.
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->


<!-- about -->

<div class="about-main-wrappper  d-md-none d-lg-block  d-lg-none   d-xl-block  d-xl-none">
    <div class="container about_three">
        <div class="about-tab-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-tab-image-grid ">
                        
                            <img src="{% static 'img/ab2.jpg' %}" alt style="border-radius: 20px;">

                        
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="section-head-alpha">
                        
                        
                        <h3 class="mt-1 ">Why Choose Us  </h3>
                        
                        <p>Expertise and Experience: Our travel agency boasts a team of experienced travel agents who possess in-depth knowledge and expertise in the travel industry. We have years of experience in curating and organizing travel experiences, ensuring that every detail of your trip is meticulously planned and executed.</p>
                    </div>
                    

                </div>
                
            </div>
        </div>

    </div>
</div>

</div>
</div>


<!-- about end-->












<!-- services -->



<section class="container">
    
    <div class="section-head-alpha mt-2">
        <h2 >Services </h2>
        
    </div>
    <div class="row container-fluid g-2  ">

        <div class=" col-lg-4  sr">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Pick Up Taxi
                </h4>
    
            </div>
    
        </div>
    
    
        <div class=" col-lg-4  ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Drop Off Taxi
                </h4>
    
            </div>
    
        </div>
    
    
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-plane" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Air Port
                    Transfers
                </h4>
    
            </div>
    
        </div>
    
    </div>
    
    <div class="row container-fluid g-2 mt-0 ">
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Outstaion
                </h4>
    
            </div>
    
        </div>
    
    
        <div class=" col-lg-4  ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Local
                </h4>
    
            </div>
    
        </div>
    
    
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-plane" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Hourly Rentals
                </h4>
    
            </div>
    
        </div>
    
    </div>
    
</section>
<!-- services -->




<div class="package-area package-style-one pt-110 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="section-head-alpha">
                    <h2>Popular Tour Package</h2>
                    
                </div>
            </div>
            
        </div>
        <div class="row g-4">
            
            
            {% for packages_category in packages_category %}
            
            <div class="col-lg-4 col-md-6" >
                <div class="package-card-alpha">
                    <div class="package-thumb">
                        <a href="{% url 'packages' packages_category.slug %}"><img src="{{ packages_category.image.url }}" alt  style="height: 300px;"></a>
                        
                    </div>
                    <div class="package-card-body" >
                        <h3 class="p-card-title"><a href="{% url 'packages' packages_category.slug %}">{{ packages_category.name }}</a></h3>
                        <div class="p-card-bottom">
                            <div class="book-btn">
                                <a href="{% url 'packages' packages_category.slug %}">Views Now <i class="bx bxs-right-arrow-alt"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}

        </div>
    </div>
</div>











<div class="testimonial-area testimonial-style-one mt-120">
    <div class="testimonial-shape-group"></div>
    <div class="container position-relative">
        <div class="row align-items-center">
           
            <div class="col-lg-8">
                <div class="section-head-alpha">
                    <h2>Testimonial</h2>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-arrows text-center d-lg-flex d-none justify-content-end mb-3">
                    <div class="testi-prev custom-swiper-prev" tabindex="0" role="button" aria-label="Previous slide">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                    <div class="testi-next custom-swiper-next" tabindex="0" role="button" aria-label="Next slide"><i
                            class="bi bi-chevron-right"></i></div>
                </div>
            </div>
        </div>
        <div class="swiper testimonial-slider-one position-relative">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                <div class="swiper-slide">
                    <div class="testimonial-card testimonial-card-alpha">
                        <div class="testimonial-card-top">
                            <div class="qoute-icon"><i class="bx bxs-quote-left"></i></div>
                            <div class="testimonial-thumb"><img src="{{ testimonial.author_image.url }}" alt="" style="width: 70px; height:70px;"></div>
                            <h3 class="testimonial-count">01</h3>
                        </div>
                        <div class="testimonial-body">
                            <p>{{ testimonial.content }}</p>
                            <div class="testimonial-bottom">
                                <div class="reviewer-info">
                                    <h4 class="reviewer-name">{{ testimonial.author }}</h4>
                                    
                                </div>
                                <ul class="testimonial-rating">
                                    {% for _ in "x"|ljust:testimonial.rating %}
                                        <li><i class="bi bi-star-fill"></i></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>






{% endblock body %}