{% extends "base.html" %}



{% load static %}

{% block body %}


<body
    class="home page-template page-template-elementor_header_footer page page-id-40 custom-background theme-advenx has-go-to-top advenx-plus-1.0.2 advenx-pro-1.0.0 woocommerce-no-js elementor-default elementor-template-full-width elementor-kit-13 elementor-page elementor-page-40">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-dark-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.498039215686" />
                    <feFuncG type="table" tableValues="0 0.498039215686" />
                    <feFuncB type="table" tableValues="0 0.498039215686" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.549019607843 0.988235294118" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.717647058824 0.254901960784" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-red">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.278431372549" />
                    <feFuncB type="table" tableValues="0.592156862745 0.278431372549" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-midnight">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.647058823529" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-magenta-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.780392156863 1" />
                    <feFuncG type="table" tableValues="0 0.949019607843" />
                    <feFuncB type="table" tableValues="0.352941176471 0.470588235294" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-green">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.650980392157 0.403921568627" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.447058823529 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-orange">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.0980392156863 1" />
                    <feFuncG type="table" tableValues="0 0.662745098039" />
                    <feFuncB type="table" tableValues="0.847058823529 0.419607843137" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <div class="pre-loader custom-loader">
        <div class="loader-inner">
            <div class="loader-image">
                <img class="pre_loader_image" alt="Advenx Site" src="{% static 'img/rtlogo.png' %}" />
            </div>
        </div>
    </div>
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <!-- **Wrapper** -->

    <!-- **Main** -->
    <div id="main">


        <!-- ** Container ** -->
        <div class="wdt-elementor-container-fluid">
            <!-- Alter HTML was skipped because the HTML is too big to process! (limit is set to 600000 bytes) -->
            <div data-elementor-type="wp-page" data-elementor-id="40" class="elementor elementor-40">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="main-title-section-wrapper dark-bg-breadcrumb aligncenter">
                            <div class="main-title-section-container">
                                <div class="container">
                                    <div class="main-title-section">
                                        <h1>Contact</h1>
                                    </div>
                                    <div class="breadcrumb"><a href="https://advenx.wpengine.com/">Home</a><span
                                            class="breadcrumb-default-delimiter"></span><span class="current">Contact</span>
                                    </div>
                                </div>
                            </div>
                            <div class="main-title-section-bg"></div>
                        </section>
                      



                    

                        <!-- add pakeges -->


                     





                        <!-- ens pakage -->









                    
                    










                        <!-- fleet -->

                        <section class="elementor-section elementor-top-section elementor-element elementor-element-07e7aef  container elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                         data-element_type="section"
                        data-settings="{&quot;wdt_bg_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_laptop&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_tablet_extra&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_mobile_extra&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_position&quot;:&quot;center center&quot;,&quot;wdt_animation_effect&quot;:&quot;none&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ad9a2b8"
                                    data-id="ad9a2b8" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section
                                                class="elementor-section elementor-inner-section elementor-element elementor-element-fb36f40 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                                data-id="fb36f40" data-element_type="section"
                                                data-settings="{&quot;wdt_bg_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_laptop&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_tablet_extra&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_mobile_extra&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;wdt_bg_position&quot;:&quot;center center&quot;,&quot;wdt_animation_effect&quot;:&quot;none&quot;}">
                                                <div class="elementor-container elementor-column-gap-no">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4a23ddb"
                                                            data-id="4a23ddb" data-element_type="column">
                                                            <div class="elementor-column-wrap">
                                                                <div class="elementor-widget-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-49df75f"
                                                            data-id="49df75f" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-4d383a9 wdt-custom-heading-with-bgtext center elementor-widget elementor-widget-wdt-heading"
                                                                        data-id="4d383a9" data-element_type="widget"
                                                                        data-settings="{&quot;wdt_animation_effect&quot;:&quot;none&quot;}"
                                                                        data-widget_type="wdt-heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="wdt-heading-holder" id="wdt-heading-4d383a9">
                                                                                <div
                                                                                    class="wdt-heading-subtitle-wrapper wdt-heading-align-center">
                                                                                    <span class="wdt-heading-subtitle"></span></div>
                                                                                <h2
                                                                                    class="wdt-heading-title-wrapper wdt-heading-align-center wdt-heading-deco-wrapper">
                                                                                    <span class="wdt-heading-title">Fleet</span></h2>
                                                                                <div class="wdt-heading-background-text-wrapper">
                                                                                    <div class="wdt-heading-background-text">Fleet</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-43bbde8"
                                                             data-element_type="column">
                                                            <div class="elementor-column-wrap">
                                                                <div class="elementor-widget-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <div class="elementor-element elementor-element-72a1608 elementor-widget elementor-widget-dtdr-widget-df-listings-listing"
                                                data-element_type="widget"
                                                data-settings="{&quot;wdt_animation_effect&quot;:&quot;none&quot;}"
                                                data-widget_type="dtdr-widget-df-listings-listing.default">
                                                <div class="elementor-widget-container">
                                                    <div
                                                        class="dtdr-listing-output-data-container dtdr-direct-list-items dtdr-listing-no-map">
                                                        <div class="dtdr-listing-output-data-holder" data-type="type10"
                                                            data-gallery="featured_image" data-postperpage="6" data-columns="3"
                                                            data-applyisotope="true" data-isotopefilter="" data-applychildof="false"
                                                            data-featureditems="false" data-featuresimageoricon="" data-featuresinclude=""
                                                            data-noofcattodisplay="2" data-nooffeaturestodisplay="4" data-excerptlength="20"
                                                            data-applyequalheight="false"
                                                            data-customoptions="{&quot;ad_items&quot;:&quot;&quot;,&quot;ad_location&quot;:&quot;listing&quot;}"
                                                            data-listitemids="" data-categoryids="" data-citiesids=""
                                                            data-neighborhoodsids="" data-countiesstatesids="" data-contracttypesids=""
                                                            data-tagids="86" data-countryid="" data-sellerids="" data-inchargeids="">
                                                            <div class="dtdr-listings-container  dtdr-listings-item-apply-isotope">
                                                                <div class="dtdr-listings-item-container"
                                                                    style="position: relative; height: 2751px;">
                                                                    <div class="grid-sizer dtdr-column dtdr-one-third"
                                                                        style="position: absolute; left: 0%; top: 0px;"></div>
                                                                    
                                                                        {% for car in cars %}
                                                                      
                                                                    <div class="dtdr-column dtdr-one-third first" >
                                                                        
                                                                        
                                                                        <div class="dtdr-listings-item-wrapper  type10 post-960 type-dtdr_listings status-publish has-post-thumbnail hentry dtdr_listings_category-australia dtdr_listings_category-canada dtdr_listings_category-india dtdr_listings_category-switerland dtdr_listings_category-thailand dtdr_listings_amenity-packages dtdr_listings_city-kerala blog-entry format-standard">
                                                                            <div class="dtdr-listings-item-top-section">
                                                                                <a  href="{% url 'book_car' car.id %}">
                                                                                <div class="dtdr-listings-item-image-gallery">
                                                                                    <div class="dtdr-listings-feature-image-holder "><img src="{{ car.image.url }}" title="Featured Image" all="Featured Image"></div></a>
                                                                                </div>
                                                                            </a>
                                                                            </div>
                                                                            <div class="dtdr-listings-item-bottom-section">
                                                                                <div class="dtdr-listings-item-bottom-section-content">
                                                                                    <div class="dtdr-listings-item-title"><a  href="{% url 'book_car' car.id %}">{{ car.name }}</a>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>

                                                                        
                                                                    </div>
                                                                    {% endfor %}
                                                                   

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dtdr-ajax-load-image" style="display: none;">
                                                            <div class="dtdr-loader-inner">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                        <!-- end fleet -->






                        





                    </div>
                </div>
            </div>
        </div><!-- ** Container End ** -->
    </div><!-- **Main - End ** -->

    {% endblock body %}