{% extends "base.html" %}



{% load static %}

{% block body %}



<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="breadcrumb-title">Services</h2>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Services</li>
            </ul>
        </div>
    </div>
</div>



<section class="container">
    <div class="row container-fluid g-2 mt-60 ">

        <div class=" col-lg-4  sr">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Pick Up Taxi
                </h4>
    
            </div>
    
        </div>
    
    
        <div class=" col-lg-4  ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Drop Off Taxi
                </h4>
    
            </div>
    
        </div>
    
    
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-plane" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Air Port
                    Transfers
                </h4>
    
            </div>
    
        </div>
    
    </div>
    
    <div class="row container-fluid g-2 mt-0 ">
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Outstaion
                </h4>
    
            </div>
    
        </div>
    
    
        <div class=" col-lg-4  ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-car" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Local
                </h4>
    
            </div>
    
        </div>
    
    
    
        <div class=" col-lg-4 ">
    
            <div class="card-body overlay-text" style="background-color: #ff4838; border-radius: 20px;">
    
                <div style="width: 80px; height:80px; background-color: #ffffff; font-size: 50px; border-radius: 100px;">
                    <i class="fa-solid fa-plane" style="margin-left: 15px;"></i>
                </div>
                <h4 class="card-title text-end text-uppercase text-light fw-bold" style="margin-top: -50px;"> Hourly Rentals
                </h4>
    
            </div>
    
        </div>
    
    </div>
    
</section>

















{% endblock body %}